html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(196, 196, 196);
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

canvas {
  display: block;
}